LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
TSkAnimatedImage BITMAP "TSkAnimatedImage\TSkAnimatedImage.bmp"
TSkAnimatedImage16 BITMAP "TSkAnimatedImage\TSkAnimatedImage16.bmp"
TSkAnimatedImage32 BITMAP "TSkAnimatedImage\TSkAnimatedImage32.bmp"
TSkAnimatedImage_PNG RCDATA "TSkAnimatedImage\TSkAnimatedImage.png"
TSkAnimatedImage16_PNG RCDATA "TSkAnimatedImage\TSkAnimatedImage16.png"
TSkAnimatedImage32_PNG RCDATA "TSkAnimatedImage\TSkAnimatedImage32.png"
TSkAnimatedImage128_PNG RCDATA "TSkAnimatedImage\TSkAnimatedImage128.png"
TSkAnimatedPaintBox BITMAP "TSkAnimatedPaintBox\TSkAnimatedPaintBox.bmp"
TSkAnimatedPaintBox16 BITMAP "TSkAnimatedPaintBox\TSkAnimatedPaintBox16.bmp"
TSkAnimatedPaintBox32 BITMAP "TSkAnimatedPaintBox\TSkAnimatedPaintBox32.bmp"
TSkAnimatedPaintBox_PNG RCDATA "TSkAnimatedPaintBox\TSkAnimatedPaintBox.png"
TSkAnimatedPaintBox16_PNG RCDATA "TSkAnimatedPaintBox\TSkAnimatedPaintBox16.png"
TSkAnimatedPaintBox32_PNG RCDATA "TSkAnimatedPaintBox\TSkAnimatedPaintBox32.png"
TSkAnimatedPaintBox128_PNG RCDATA "TSkAnimatedPaintBox\TSkAnimatedPaintBox128.png"
TSkLabel BITMAP "TSkLabel\TSkLabel.bmp"
TSkLabel16 BITMAP "TSkLabel\TSkLabel16.bmp"
TSkLabel32 BITMAP "TSkLabel\TSkLabel32.bmp"
TSkLabel_PNG RCDATA "TSkLabel\TSkLabel.png"
TSkLabel16_PNG RCDATA "TSkLabel\TSkLabel16.png"
TSkLabel32_PNG RCDATA "TSkLabel\TSkLabel32.png"
TSkLabel128_PNG RCDATA "TSkLabel\TSkLabel128.png"
TSkPaintBox BITMAP "TSkPaintBox\TSkPaintBox.bmp"
TSkPaintBox16 BITMAP "TSkPaintBox\TSkPaintBox16.bmp"
TSkPaintBox32 BITMAP "TSkPaintBox\TSkPaintBox32.bmp"
TSkPaintBox_PNG RCDATA "TSkPaintBox\TSkPaintBox.png"
TSkPaintBox16_PNG RCDATA "TSkPaintBox\TSkPaintBox16.png"
TSkPaintBox32_PNG RCDATA "TSkPaintBox\TSkPaintBox32.png"
TSkPaintBox128_PNG RCDATA "TSkPaintBox\TSkPaintBox128.png"
TSkStyleTextObject BITMAP "TSkStyleTextObject\TSkStyleTextObject.bmp"
TSkStyleTextObject16 BITMAP "TSkStyleTextObject\TSkStyleTextObject16.bmp"
TSkStyleTextObject32 BITMAP "TSkStyleTextObject\TSkStyleTextObject32.bmp"
TSkStyleTextObject_PNG RCDATA "TSkStyleTextObject\TSkStyleTextObject.png"
TSkStyleTextObject16_PNG RCDATA "TSkStyleTextObject\TSkStyleTextObject16.png"
TSkStyleTextObject32_PNG RCDATA "TSkStyleTextObject\TSkStyleTextObject32.png"
TSkStyleTextObject128_PNG RCDATA "TSkStyleTextObject\TSkStyleTextObject128.png"
TSkSvg BITMAP "TSkSvg\TSkSvg.bmp"
TSkSvg16 BITMAP "TSkSvg\TSkSvg16.bmp"
TSkSvg32 BITMAP "TSkSvg\TSkSvg32.bmp"
TSkSvg_PNG RCDATA "TSkSvg\TSkSvg.png"
TSkSvg16_PNG RCDATA "TSkSvg\TSkSvg16.png"
TSkSvg32_PNG RCDATA "TSkSvg\TSkSvg32.png"
TSkSvg128_PNG RCDATA "TSkSvg\TSkSvg128.png"
