LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
TSkLottieAnimation BITMAP "TSkLottieAnimation\TSkLottieAnimation.bmp"
TSkLottieAnimation16 BITMAP "TSkLottieAnimation\TSkLottieAnimation16.bmp"
TSkLottieAnimation32 BITMAP "TSkLottieAnimation\TSkLottieAnimation32.bmp"
TSkLottieAnimation_PNG RCDATA "TSkLottieAnimation\TSkLottieAnimation.png"
TSkLottieAnimation16_PNG RCDATA "TSkLottieAnimation\TSkLottieAnimation16.png"
TSkLottieAnimation32_PNG RCDATA "TSkLottieAnimation\TSkLottieAnimation32.png"
TSkLottieAnimation128_PNG RCDATA "TSkLottieAnimation\TSkLottieAnimation128.png"
TSkPaintBox BITMAP "TSkPaintBox\TSkPaintBox.bmp"
TSkPaintBox16 BITMAP "TSkPaintBox\TSkPaintBox16.bmp"
TSkPaintBox32 BITMAP "TSkPaintBox\TSkPaintBox32.bmp"
TSkPaintBox_PNG RCDATA "TSkPaintBox\TSkPaintBox.png"
TSkPaintBox16_PNG RCDATA "TSkPaintBox\TSkPaintBox16.png"
TSkPaintBox32_PNG RCDATA "TSkPaintBox\TSkPaintBox32.png"
TSkPaintBox128_PNG RCDATA "TSkPaintBox\TSkPaintBox128.png"
TSkSvg BITMAP "TSkSvg\TSkSvg.bmp"
TSkSvg16 BITMAP "TSkSvg\TSkSvg16.bmp"
TSkSvg32 BITMAP "TSkSvg\TSkSvg32.bmp"
TSkSvg_PNG RCDATA "TSkSvg\TSkSvg.png"
TSkSvg16_PNG RCDATA "TSkSvg\TSkSvg16.png"
TSkSvg32_PNG RCDATA "TSkSvg\TSkSvg32.png"
TSkSvg128_PNG RCDATA "TSkSvg\TSkSvg128.png"
